body {
    font-family: 'VT323', monospace;
    font-size: 24px;
    margin: 0;
    padding: 0;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
}

header {
    text-align: center;
    padding: 20px;
}

h2 {
    font-family: 'Silkscreen', sans-serif;
    font-size: 48px;
}

nav ul {
    text-align: center;
    margin: 20px 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline-block;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 5px;
    border: 1px solid #000;
    background-color: pink;
    color: #000;
}

nav ul li a:hover {
    background-color: palevioletred;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: pink;
    min-width: 120px;
    z-index: 1;
}

.dropdown a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000;
}

.dropdown a:hover {
    background-color: palevioletred;
}

nav ul li:hover .dropdown {
    display: block;
}

.active {
    background-color: darkcyan;
  }

.container {
    margin: 20px;
}

.bio, .music, .contact, .bts, .teasers {
    text-align: center;
}

footer {
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}