body {
    font-family: 'VT323', monospace;
    font-size: 24px;
    color: pink;
    margin: 0;
    padding: 0;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
}

header {
    text-align: center;
    padding: 20px;
}

h2 {
    font-family: 'Silkscreen', sans-serif;
    font-size: 48px;
}

nav ul {
    text-align: center;
    margin: 20px 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline-block;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 5px;
    border: 1px solid #000;
    background-color: pink;
    color: #000;
}

nav ul li a:hover {
    background-color: palevioletred;
    color: #333;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: pink;
    min-width: 120px;
    z-index: 1;
}

.dropdown a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000;
}

.dropdown a:hover {
    background-color: palevioletred;
}

nav ul li:hover .dropdown {
    display: block;
}

.active {
    background-color: #333;
    color: pink;
  }

.container {
    margin: 20px;
    background-color: #333; /* Change this to your desired color */
    padding: 10px 0;
    text-align: center;
}

.bio, .music, .contact, .bts, .teasers {
    text-align: center;
    margin: 20px;
    padding-left: 12px;
    padding-right: 12px;

}

footer {
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width: 576px){
    nav ul li {
        display: flex;
        position: relative;
        flex-wrap: wrap;
        justify-content: center;
    }

    
}