/* Main body style */
body {
    font-family: 'VT323', monospace;
    font-size: 30px;
    color: pink;
    margin: 0;
    padding: 0;
    background-image: url('images/background.jpg');
    background-size: cover;
    background-position: center;
}

header {
    text-align: center;
    padding: 20px;
}

.logo{
    width: 450px;
    height: auto;
}

h1{
    font-family: 'Silkscreen', sans-serif;
    font-size: 60px;
    color: pink;
    text-shadow:
        3px 3px 0 #000,
        -3px 3px 0 #000,
        -3px -3px 0 #000,
        3px -3px 0 #000;
}

h2 {
    font-family: 'Silkscreen', sans-serif;
    font-size: 48px;
}

/* Navigation and dropdown button stylings */
.navigation {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.navigation.show {
    opacity: 1;
}

nav ul {
    text-align: center;
    margin: 20px 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline-block;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    padding: 8px 20px;
    border: 1px solid #333;
    border-radius: 5px;
    margin: 0 5px;
    background-color: pink;
    color: #333;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    background-color: aquamarine;
    color: #333;
}

.active {
    background-color: #333;
    color: pink;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: pink;
    border: 1px solid #333;
    min-width: 120px;
    z-index: 1;
    border-radius: 5px;
}

.dropdown a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    transition: all 0.3s ease;
}

.dropdown a:hover {
    background-color: aquamarine; 
    color: #333; 
}

nav ul li:hover .dropdown {
    display: block;
}

/* Black background for content */
.container {
    position: relative;
    margin: 20px;
    background-color: #333;
    padding: 10px 0;
    text-align: center;
    opacity: 0; 
    transition: opacity 0.5s ease-in-out;
    border-radius: 20px;
}

.container.show {
    opacity: 1;
}

/* Main content alignment */
.bio, .music, .contact, .bts, .teasers {
    text-align: center;
    margin: 20px;
    padding-left: 12px;
    padding-right: 12px;

}

/* Footer alignment */
footer {
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: auto;
}

/* Contact Info Buttons stylings*/
.social-buttons {
    text-align: center;
    margin-top: 20px;
}

.social-buttons a {
    text-decoration: none;
    color: #fff;
    padding: 8px 20px;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-right: 10px;
    transition: all 0.3s ease;
}

.social-buttons a:hover {
    background-color: #fff;
    color: #333;
}

/* Image for Teasers page to enable media query */
.teasers > img{
    width: 400px; 
    height: auto;
}

.music > video{
    width: 100%;
    height: auto;
}

/* MEDIA QUERY */
@media screen and (max-width: 800px){

    /* Nav buttons change positions/layout */
    nav ul li {
        display: flex;
        position: relative;
        flex-wrap: wrap;
        justify-content: center;
    }

    .logo{
        max-width: 100%;
        height: auto;
    }

    h1{
        font-size: 54px;
    }

    h2{
        font-size: 42px;
    }

    /* teaser images now responsive */
    .teasers > img{
        width: 100%; 
        height: auto;
    }

    .music > video{
        max-width: 100%;
        height: auto;
    }

    
}